/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg-main: #141E30;
  --bg-sidebar: #0f172a;
  --bg-card: #1f2a40;

  --text-main: #f1f1f1;
  --text-secondary: #9ca3af;

  --primary: #00aef9;

  --border: #2d3b55;
}

/* GLOBAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
}

/* LINKS */
a {
  color: var(--text-main);
  text-decoration: none;
}

/* CONTAINER */
.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
}

/* CARD */
.card {
  background: var(--bg-card);
  padding: 25px;
  border-radius: 12px;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #0f172a;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: white;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: var(--bg-sidebar);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CONTENT */
.content {
  margin-left: 220px;
  padding: 20px;
  padding-bottom: 90px;
}

/* GRID TRACKS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

/* TRACK CARD */
.track-card {
  background: var(--bg-card);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.track-card:hover {
  transform: scale(1.03);
}

/* IMAGE */
img {
  width: 100%;
  border-radius: 8px;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  left: 220px;
  right: 0;
  height: 70px;
  background: var(--bg-sidebar);
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* CENTER */
.center {
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0;
  }

  .player {
    left: 0;
  }

  .container {
    margin: 40px 20px;
  }
}